*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    position: relative;
}


header{
    background-color: orangered;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

button{
    display: block;
    cursor: pointer;
}

.search-bar form{
    display: flex;
}

.account-container{
    display: flex;
    align-items: center;
}

#avartar{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-image: url(../images/57155355_653049545147649_1720542226372624384_n.jpg);
    background-position: center;
    background-size: contain;
    border: solid 3px white;
    margin-right: 10px;
}

.info{
    color: white;
    font-weight: 700;
    display: flex;
}

.info p{
    margin: 0;
    height: fit-content;
    line-height: 40px;
    margin-right: 70px;
}

.account-container button{
    width: 70px;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: white;
    color: orangered;
    font-weight: bold;
}

.account-container button:active{
    background-color: rgb(255, 251, 0);
    color: white;
}

.search-bar{
    height: fit-content;
}

.search-bar form input {
    height: 30px;
    outline: none;
    width: 300px;
    border:none;
    padding-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    background-color: rgb(247, 124, 103);
    color: white;
}

.search-bar form input::placeholder{
    color: rgb(223, 222, 222);
}

.search-bar form input:focus{
    background-color: white;
    color: black;
}

.search-bar form button{
    width: 40px;
    border: none;
    border-radius: 3px;
}

main{
    display: flex;
    height: 100%;
    justify-content: stretch;
    position: relative;
}

nav{
    background-color: rgb(43, 43, 43);
    width: 18%;
    height: 100%;
    position: fixed;
    color:white;
    top:70px;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}


li:not(.sub li){
    line-height: 50px;
    border-bottom: solid rgb(158, 158, 158) 1px;
}

.sub{
    background-color: rgb(105, 105, 105);
}

.sub li:first-child{
    border-bottom: solid rgb(131, 130, 130) 1px;
}

li p{
    margin: 0;
    margin-left: 10px;
}
li{
    cursor: pointer;
}

.content{
    width: 82%;
    position: absolute;
    right: 0;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 80px;
}

input{
    font-size: 14px;
    padding: 5px 7px;
    outline: thin;
    border-radius: 3px;
    border: 1px solid rgb(153, 153, 153)
}

select{
    width: 150px;
    height: 28px;
    outline: thin;
    border-radius: 3px;
    border: 1px solid rgb(153, 153, 153);
    padding: 5px 7px;
}

.product-control form input, .product-control form select{
    margin-right:10px;
    margin-bottom: 20px;
}

.product-control form button{
    background-color: orangered;
    color:white;
    border:none;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    width: 100px;
    border-radius: 3px;
    margin-bottom: 20px;
}
.product-control{
    border-bottom: dashed 1px black;
    margin-bottom: 10px;
}
.list-item{
    padding-top: 10px;
    overflow-y: scroll;
    height: 400px;
}
.item{
    display: flex;
    align-items: center;
    position: relative;
}

.product .img-container{
    width: 13%;
}

.img-container img{
    width: 100%;
}

.product .detail h3{
    margin-top: 2px;
    margin-bottom: 0;
}

.product .detail{
    padding-left: 10px;
}

.product .detail .other{
    display: flex;
}

.product .detail .other div:first-child{
    margin-right: 20px;
}

.product .action{
    display: flex;
    height: fit-content;
    width: fit-content;
    position: absolute;
    right: 0;
}

.product .action button{
    padding: 5px 10px;
    height: fit-content;
    margin-right: 20px;
}

.color{
    width: 26px;
    height: 26px;
    display: inline-block;
    margin-left: 20px;
}

.other div:first-child div:nth-child(3){
   display: flex;
   align-items: center;
   padding-bottom: 7px;
}


.order-item{
    display: flex;
}

.order-item .info{
    color: black;
    font-weight: lighter;
    display: block;
    margin-right: 30px;
}
.order-item .info div{
    margin-bottom: 5px;
}

.item .action{
    display: flex;
    position: absolute;
    right:0;
}

.bottom-dashed{
    border-bottom: 1px dashed black;
    margin-bottom: 10px;
}

.action button{
    margin-right: 20px;
}

.list-detail{
    display: none;
    position: absolute;
    top:100px;
    background-color: rgb(88, 88, 88);  
    width: 100%; 
}

.order-detail{
    padding: 5px 10px;
}

.order-detail .info{
    color:  white;
}
.sent{
    top: 120px !important;
}






