*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-color: rgb(238, 238, 238);
}

img{
    width: 70px;
    height: 70px;
}

h2{
    text-transform: uppercase;
}

input{
    height: 30px;
    font-size: 16px;
    padding: 7px 10px;
    margin-bottom: 20px;
    outline: 1px solid rgb(173, 236, 252);
}

form{
    background-color: white;
    padding: 70px 10px;
}

button{
    background-color: orangered;
    font-size: 16px;
    color:  white;
    padding: 7px;
    width: 200px;
    border: none;
}

@media only screen and (max-width: 767px){
    form{
        text-align: center;
    }
}

@media only screen and (max-width: 991px) and (min-width:768px){
   form{
       text-align: center;
   }
}

@media only screen and (min-width:992px){
    form{
        margin-top: 100px !important;
        width: 40%;
        margin: auto;
        text-align: center;
    }

    input{
        width: 60%;
    }
}